{% extends 'base.html' %}
{% block content %}
<div class="myDiv" style="background-color:rgb(141, 138, 138); height:45%; width: 30%; margin-left:39%; margin-top:15%; border-color:black;">
    <form class="myForm" action="" method="POST" style="padding:9px;border: 1px solid black ">
    {% csrf_token %}
<label for="id">ID</label><br>
<input type="text" id="eid" name="eid" placeholder="Enter ID" required><br><br>
<label for="name">Name</label><br>
<input type="text" id="ename" name="ename" placeholder="Enter Name" required><br><br>
<label for="email">Email</label><br>
<input type="text" id="eemaill" name="eemail" placeholder="Enter Email" required><br><br>
<label for="contact">Contact</label><br>
<input type="text" id="econtact" name="econtact" placeholder="Enter Contact" required><br><br>
<button on>Submit</button>

</form>
</div>
{% endblock %}
       